@model CMS.Models.Payment
@{
    ViewBag.Title = "RequestPayment";
}

<h2>RequestPayment</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Full Name", new { @class = "col-md-2 control-label" })
        @Html.TextBox("FullName", new { @class = "col-md-8 form-control", placeholder = "Full Name..." })
    </div>
    <div class="form-group">
        @Html.Label("Credit Card No.", new { @class = "col-md-2 control-label" })
        @Html.TextBox("CardNo", new { @class = "col-md-8 form-control", Placeholder = "Card No...." })
    </div>
    <div class="form-group">
        @Html.Label("Card Date", new { @class = "col-md-2 control-label" })
        @Html.TextBox("CardDate", new { @class = "col-md-8 form-control", placeholder = "yy/mm" })
    </div>
    <div class="form-group">
        @Html.Label("CVV", new { @class = "col-md-2 control-label" })
        @Html.TextBox("Cvv", new { @class = "col-md-2 form-control", placeholder = "CVV..." })
    </div>
    <div class="form-group">
        @Html.Label("Amount", new { @class = "col-md-2 control-label" })
        <p class="form-control-static col-md-8">
            @string.Format("{0:n0}", Model.Amount)
        </p>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Pay</button>
        </div>
    </div>
</div>
}
