@model List<CMS.Models.Request>
@{
    ViewBag.Title = "ViewRequests";
}

<h2>Request List</h2>
<hr />
<a href="~/Request/Create" class="btn btn-default"> <i class="fa fa-plus"></i> &nbsp; Add Request</a>
<br />
<br />
@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <tr>
            <th>Student Name</th>
            <th>Certificat(s) Requested</th>
            <th>Amount</th>
            <th>Delivery Option</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Student.FirstName @item.Student.LastName</td>
                <td>
                    @foreach (var crt in item.Request_Certificate)
                    {
                        <span>@crt.CertificateType.Type | </span>
                    }
                </td>
                <td>@string.Format("{0:n0}", item.TotalPrice) SDG</td>
                <td>@item.DeliveryType.Type</td>
                <td>@item.CreatedDate.Value.ToShortDateString()</td>
                <td>
                    @{
                        if (item.IsApproved == null)
                        {
                            <span class="text-success"><i class="fa fa-clock"></i> Pending</span>
                        }
                        else if (item.IsApproved == true && item.IsDeliverd==null)
                        {
                            <span class="text-success"><i class="fa fa-clipboard-check"></i> Completed</span>
                        }
                        else if (item.IsDeliverd == true)
                        {
                            <span class="text-success"><i class="fa fa-hand-holding"></i> Deliverd</span>
                        }
                        else if (item.IsApproved == false || item.IsChecked==false)
                        {
                            <span class="text-warning"><i class="fa fa-times"></i> Rejected</span>
                        }
                    }

                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        <strong>Oops!</strong> No Request data available
    </div>
}

