@using CMS.Models
@model Student
@{
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<hr />
@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "col-md-8 form-control", placeholder = "First Name..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "col-md-8 form-control", Placeholder = "Last Name..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StudentIndex, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.StudentIndex, new { @class = "col-md-8 form-control", placeholder = "Student Index..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "col-md-8 form-control", placeholder = "Email..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "col-md-8 form-control", placeholder = "Phone Number..." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Faculty, new { @class = "col-md-2 control-label" })
            @Html.DropDownListFor(m => m.FacultyId, (IEnumerable<SelectListItem>)ViewBag.Faculties, "Select Faculty", new { @class = "col-md-8 form-control" })
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Photo</label>
            <p class="form-control-static col-md-8">
                <img id="preview" src="~/Content/images/user.png" class="img-thumbnail" width="200" height="200" />
                <input type="file" id="fileUploader" name="File" />
            </p>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Create</button>
            </div>
        </div>
    </div>

}
<ul class="pager">
    <li class="previous"><a href="~/Student/"><span aria-hidden="true">&larr;</span> Back</a></li>
</ul>
@section scripts{
    <script type="text/javascript">
        function readIMG(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            $("#fileUploader").change(function () {
                readIMG(this);
            });
        });
    </script>
}
